<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test4</title>
</head>
<body>

    <ul>
        <li> <a href = "/CPA"> CPA Students </a></li>
        <li> <a href = "/allStudents"> All Students </a></li>
        <li> <a href = "/addStudent"> Add A New Student </a></li>
        <li> Note: Locate specific student by student Id, e.g., <br>
            http://localhost:8080/student/3 </li>  
        <li> <a href = "/highGPA"> Highest GPA </a></li>
        <li><a href="/">Home</a></li>  
    </ul>
    <hr>
    {{{body}}}
    <hr>
    <h2>Student Honour Pledge:</h2>
    <p>I acknowledge Seneca College’s academic integrity policy. <br>
        On my honor, I have neither given or received unauthorized aid on this test.</p>
    <p>Name: <mark> <b> highlight Your Real Name </b> </mark> </p>
    <p>Student Number: <mark><b> highlight Your Real Student Number </b> </mark>
</body>
</html>